<div class="row align-items-center pt-3 pt-sm-4 pt-md-0 px-3 pe-sm-4 pe-md-0 ps-sm-4 ps-lg-0">
    <div class="col-lg-4 col-md-5 offset-lg-1 text-center text-md-start">
        <h3 class="mb-lg-4">Bring-you-own cloud</h3>
        <p>Deploy Fluxzero to your own infrastructure. Full control, complete flexibility, with all the benefits of the Fluxzero platform.</p>
    </div>
    <div class="col-lg-6 col-md-7 mt-n3 mt-md-1">
        <img src="/assets/fluxzero/fluxzero-engine-features3.png" class="d-block mb-lg-2 mx-auto me-md-0" width="525" alt="Bring-your-own cloud">
    </div>
</div>