---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/main.scss';
import '../styles/fluxzero.css';
---

<BaseLayout 
  title="Fluxzero | Build Without Boundaries" 
  description="Fluxzero is the fastest way to build scalable, message‑driven apps. One unified SDK, zero boilerplate, full observability, and deploy anywhere — local, self‑hosted, or Fluxzero Cloud."
>
  <!-- Bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" slot="head">
  
  <style slot="head">
    .keyword { color: #569cd6; }
    .field { color: #9cdcfe; }
    .method { color: #dcdcaa; }
    .comment { color: #6a9955; }
    .annotation { color: #4fc1ff; }
  </style>

  <!-- Page wrapper for sticky footer -->
  <main class="page-wrapper">

    <section class="bg-info small text-light text-center py-2">
      <div class="container">
        Fluxzero Cloud is in closed beta. <a href="/cloud-beta" class="text-light">Want early access?</a>.
      </div>
    </section>

    <div class="position-relative">
      <Header/>
    </div>

    <!--<Header />-->

    <!-- Hero -->
    <section class="bg-dark bg-size-cover bg-repeat-0 bg-position-center position-relative overflow-hidden pt-5 pb-3 pb-md-5 mb-2" style="background-image: url(assets/img/landing/saas-3/hero/hero-bg.jpg);" data-bs-theme="dark">
      <div class="container position-relative zindex-2 pt-5 pb-md-2 pb-lg-4 pb-xl-5">
        <div class="row pt-3 pb-2 py-md-4">

          <!-- Text -->
          <div class="col-xl-5 col-md-6 pt-lg-5 text-center text-md-start mb-4 mb-md-0">
            <h1 class="display-3 pb-2 pb-sm-3">Write Business Logic.
              Skip Everything Else.</h1>
            <p class="text-body fs-lg d-md-block pb-2 pb-md-0 mb-4 mb-md-5">The only platform where your code scales from MVP to enterprise
              without rebuilds, ops, or backend complexity.
            </p>

            <!--CTA buttons-->
            <div class="d-grid gap-2 d-md-flex">
              <a href="/docs/getting-started/hello-world" class="btn btn-lg btn-primary shadow-primary">Try locally in 2 mins</a>
              <a href="/docs/tutorials/first-app" class="btn btn-lg btn-outline-secondary">Build your first app</a>
            </div>
            <!--<div class="d-flex justify-content-center justify-content-md-start pb-2 pt-lg-2 pt-xl-0">-->
            <!--                <a href="/docs/getting-started/hello-world" class="btn btn-lg btn-primary shadow-primary me-3 me-sm-4">Try locally in 2 mins</a>-->
            <!--                <a href="/docs/tutorials/first-app" class="btn btn-lg btn-outline-secondary">Build your first app</a>-->
            <!--              </div>-->
          </div>

           <!-- Parallax gfx -->
          <div class="d-none d-xl-flex col-xl-7 col-md-6 justify-content-end fluxzero-code">
            <div class="parallax mx-auto ms-md-0 me-md-n5" style="max-width: 700px; translate: -50px 100px">
              <div class="parallax-layer zindex-2" data-depth="0.1">
                <div class="code-block">
                  <pre><code><span class="keyword">public record</span> DepositMoney(AccountId <span class="field">accountId</span>, BigDecimal <span class="field">amount</span>) {`{`}
  <span class="annotation">@Apply</span>
  BankAccount <span class="method">deposit</span>(BankAccount account) {`{`}
     <span class="keyword">return</span> account.withBalance(account.balance().add(<span class="field">amount</span>));
  {`}`}
{`}`}

<span class="comment">// No frameworks. No plumbing. Just business logic — at any scale.</span></code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Brands (carousel on screens < 1100px) -->
    <section class="container border-bottom-lg pt-sm-2">
      <div class="swiper mx-n2" data-swiper-options='{
        "slidesPerView": 2,
        "pagination": {
          "el": ".swiper-pagination",
          "clickable": true
        },
        "breakpoints": {
          "500": {
            "slidesPerView": 3,
            "spaceBetween": 8
          },
          "650": {
            "slidesPerView": 4,
            "spaceBetween": 8
          },
          "850": {
            "slidesPerView": 5,
            "spaceBetween": 8
          },
          "992": {
            "slidesPerView": 6,
            "spaceBetween": 8
          }
        }
      }'>

        <div class="swiper-wrapper fluxzero-logos">
          <div class="d-none d-lg-block swiper-slide py-1 m-auto fw-bolder text-uppercase text-gradient-primary">
            Trusted by teams at :
          </div>

          <!-- Item -->
          <div class="swiper-slide py-1 mx-auto">
            <a href="#" class="px-2 mx-2">
              <img src="/assets/fluxzero/portbase.svg" class="d-block d-dark-mode-none mx-auto my-2" width="155" alt="Portbase">
              <img src="/assets/fluxzero/portbase-dark.svg" class="d-none d-dark-mode-block mx-auto my-2" width="155" alt="Portbase">
            </a>
          </div>

          <!-- Item -->
          <div class="swiper-slide py-1 mx-auto">
            <a href="#" class="px-2 mx-2">
              <img src="/assets/fluxzero/flowmaps.svg" class="d-block d-dark-mode-none mx-auto my-2" width="180" alt="Flowmaps">
              <img src="/assets/fluxzero/flowmaps-dark.svg" class="d-none d-dark-mode-block mx-auto my-2" width="180" alt="Flowmaps">
            </a>
          </div>

          <!-- Item -->
          <div class="swiper-slide py-1 mx-auto">
            <a href="#" class="px-2 mx-2">
              <img src="/assets/fluxzero/moxi.svg" class="d-block d-dark-mode-none mx-auto my-2" width="120" alt="Moxi">
              <img src="/assets/fluxzero/moxi-dark.svg" class="d-none d-dark-mode-block mx-auto my-2" width="120" alt="Moxi">
            </a>
          </div>

          <!-- Item -->
          <div class="swiper-slide py-1 mx-auto">
            <a href="#" class="px-2 mx-2">
              <img src="/assets/fluxzero/openvoy.svg" class="d-block d-dark-mode-none mx-auto my-2" width="140" alt="OpenVoy">
              <img src="/assets/fluxzero/openvoy-dark.svg" class="d-none d-dark-mode-block mx-auto my-2" width="140" alt="OpenVoy">
            </a>
          </div>

          <!-- Item -->
          <div class="swiper-slide py-1 mx-auto">
            <a href="#" class="px-2 mx-2">
              <img src="/assets/fluxzero/zoef.svg" class="d-block d-dark-mode-none mx-auto my-2" width="120" alt="Zoef">
              <img src="/assets/fluxzero/zoef-dark.svg" class="d-none d-dark-mode-block mx-auto my-2" width="120" alt="Zoef">
            </a>
          </div>

        </div>

        <!-- Pagination (bullets) -->
        <div class="swiper-pagination position-relative pt-3"></div>
      </div>
    </section>

    <section class="container py-2 my-md-2 my-lg-3 my-xl-5">
      <div class="row align-items-center pt-2 pb-3">

        <!-- Text -->
        <div class="col-md-6 col-xl-5 text-center text-md-start mb-md-5 mb-md-0">
          <h2 class="h1 pb-2 pb-lg-3">Build serious software at side-project speed.</h2>
          <p class="pb-2">It's not a framework. It's not just a cloud platform. It's a new default for how you build apps — where messaging, storage, search, scheduling, observability, and deployment all just work together.</p>
          <p class="pb-2 mb-4 mb-lg-5">Build your MVP in hours. Scale to national infrastructure without rewriting a line.
            Every message is tracked. Every state change is visible. Every decision is auditable.</p>
          <hr>
          <div class="d-flex justify-content-center justify-content-md-between pt-4 pt-lg-5">
            <div class="mx-3 mx-md-0">
              <div class="display-3 text-dark mb-1">95%</div>
              <span>Less code</span>
            </div>
            <div class="mx-3 mx-md-0">
              <div class="display-3 text-dark mb-1">10M+</div>
              <span>Requests per second</span>
            </div>
          </div>
        </div>

        <!-- Parallax gfx -->
        <div class="col-md-6 d-none d-md-block offset-xl-1">
          <div class="parallax ratio ratio-1x1 mx-auto" style="max-width: 550px; translate: 0px -75px">
            <div class="parallax-layer position-absolute zindex-2" data-depth="-0.25">
              <img src="/assets/fluxzero/fluxzero-engine-features4.png" alt="Features">
            </div>
            <div class="parallax-layer d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100" data-depth="0.1">
              <div class="rounded-circle bg-primary" style="width: 70%; height: 70%; opacity: .06;"></div>
            </div>
            <div class="parallax-layer d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100" data-depth="0.2">
              <div class="rounded-circle bg-primary" style="width: 55%; height: 55%; opacity: .06;"></div>
            </div>
            <div class="parallax-layer d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 zindex-3" data-depth="0.4">
              <div class="d-flex justify-content-center align-items-center rounded-circle" style="width: 110px; height: 110px; ">
                <img src="/assets/fluxzero/fluxzero-logo.png" width="100%" alt="Fluxzero">
              </div>
            </div>
            <div class="parallax-layer d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100" data-depth="0.3">
              <div class="rounded-circle bg-primary" style="width: 40%; height: 40%; opacity: .06;"></div>
            </div>
          </div>
        </div>
      </div>

      <hr class="mt-5"/>

    </section>

    <section class="container py-5 my-md-2 my-lg-4 my-xl-5">
      <h2 class="h1 pb-4 pb-lg-5 text-center">All the power. None of the baggage.</h2>
      <div class="row">
        <div class="col-lg-4 text-center pb-md-2 mb-3 mb-lg-4">
          <div class="d-inline-block bg-secondary rounded-circle p-3 mb-4" style="color: #6366f1">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
            </svg>
          </div>
          <h3 class="h5 pb-1 mb-2">One simple programming model</h3>
          <p class="fs-sm">Everything is a message: commands, queries, events, schedules, web requests.</p>
        </div>
        <div class="col-lg-4 text-center pb-md-2 mb-3 mb-lg-4">
          <div class="d-inline-block bg-secondary rounded-circle p-3 mb-4" style="color: #6366f1">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" fill="currentColor" class="bi bi-braces" viewBox="0 0 16 16">
              <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6M13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6"/>
            </svg>
          </div>
          <h3 class="h5 pb-1 mb-2">Designed around your code</h3>
          <p class="fs-sm">Forget boilerplate. Forget wiring. Just write clean, meaningful code.</p>
        </div>
        <div class="col-lg-4 text-center pb-md-2 mb-3 mb-lg-4">
          <div class="d-inline-block bg-secondary rounded-circle p-3 mb-4" style="color: #6366f1">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">
              <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4M3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707M2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10m9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5m.754-4.246a.39.39 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.39.39 0 0 0-.029-.518z"/>
              <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A8 8 0 0 1 0 10m8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3"/>
            </svg>
          </div>
          <h3 class="h5 pb-1 mb-2">Non-functionals baked in, not bolted on</h3>
          <p class="fs-sm">Don't trade simplicity for power — performance, scalability, and security are built into the very design, maxed out, always.</p>
        </div>
        <div class="col-lg-4 text-center pb-md-2 mb-3 mb-lg-4">
          <div class="d-inline-block bg-secondary rounded-circle p-3 mb-4" style="color: #6366f1">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" fill="currentColor" class="bi bi-rocket-takeoff" viewBox="0 0 16 16">
              <path d="M9.752 6.193c.599.6 1.73.437 2.528-.362s.96-1.932.362-2.531c-.599-.6-1.73-.438-2.528.361-.798.8-.96 1.933-.362 2.532"/>
              <path d="M15.811 3.312c-.363 1.534-1.334 3.626-3.64 6.218l-.24 2.408a2.56 2.56 0 0 1-.732 1.526L8.817 15.85a.51.51 0 0 1-.867-.434l.27-1.899c.04-.28-.013-.593-.131-.956a9 9 0 0 0-.249-.657l-.082-.202c-.815-.197-1.578-.662-2.191-1.277-.614-.615-1.079-1.379-1.275-2.195l-.203-.083a10 10 0 0 0-.655-.248c-.363-.119-.675-.172-.955-.132l-1.896.27A.51.51 0 0 1 .15 7.17l2.382-2.386c.41-.41.947-.67 1.524-.734h.006l2.4-.238C9.005 1.55 11.087.582 12.623.208c.89-.217 1.59-.232 2.08-.188.244.023.435.06.57.093q.1.026.16.045c.184.06.279.13.351.295l.029.073a3.5 3.5 0 0 1 .157.721c.055.485.051 1.178-.159 2.065m-4.828 7.475.04-.04-.107 1.081a1.54 1.54 0 0 1-.44.913l-1.298 1.3.054-.38c.072-.506-.034-.993-.172-1.418a9 9 0 0 0-.164-.45c.738-.065 1.462-.38 2.087-1.006M5.205 5c-.625.626-.94 1.351-1.004 2.09a9 9 0 0 0-.45-.164c-.424-.138-.91-.244-1.416-.172l-.38.054 1.3-1.3c.245-.246.566-.401.91-.44l1.08-.107zm9.406-3.961c-.38-.034-.967-.027-1.746.163-1.558.38-3.917 1.496-6.937 4.521-.62.62-.799 1.34-.687 2.051.107.676.483 1.362 1.048 1.928.564.565 1.25.941 1.924 1.049.71.112 1.429-.067 2.048-.688 3.079-3.083 4.192-5.444 4.556-6.987.183-.771.18-1.345.138-1.713a3 3 0 0 0-.045-.283 3 3 0 0 0-.3-.041Z"/>
              <path d="M7.009 12.139a7.6 7.6 0 0 1-1.804-1.352A7.6 7.6 0 0 1 3.794 8.86c-1.102.992-1.965 5.054-1.839 5.18.125.126 3.936-.896 5.054-1.902Z"/>
            </svg>
          </div>
          <h3 class="h5 pb-1 mb-2">MVP-to-enterprise without replatforming</h3>
          <p class="fs-sm">Same codebase, same logic, zero rewrites.</p>
        </div>
        <div class="col-lg-4 text-center pb-md-2 mb-3 mb-lg-4">
          <div class="d-inline-block bg-secondary rounded-circle p-3 mb-4" style="color: #6366f1">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" fill="currentColor" class="bi bi-cloud-sun" viewBox="0 0 16 16">
              <path d="M7 8a3.5 3.5 0 0 1 3.5 3.555.5.5 0 0 0 .624.492A1.503 1.503 0 0 1 13 13.5a1.5 1.5 0 0 1-1.5 1.5H3a2 2 0 1 1 .1-3.998.5.5 0 0 0 .51-.375A3.5 3.5 0 0 1 7 8m4.473 3a4.5 4.5 0 0 0-8.72-.99A3 3 0 0 0 3 16h8.5a2.5 2.5 0 0 0 0-5z"/>
              <path d="M10.5 1.5a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0zm3.743 1.964a.5.5 0 1 0-.707-.707l-.708.707a.5.5 0 0 0 .708.708zm-7.779-.707a.5.5 0 0 0-.707.707l.707.708a.5.5 0 1 0 .708-.708zm1.734 3.374a2 2 0 1 1 3.296 2.198q.3.423.516.898a3 3 0 1 0-4.84-3.225q.529.017 1.028.129m4.484 4.074c.6.215 1.125.59 1.522 1.072a.5.5 0 0 0 .039-.742l-.707-.707a.5.5 0 0 0-.854.377M14.5 6.5a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
            </svg>
          </div>
          <h3 class="h5 pb-1 mb-2">Cloud runtime, but not cloud lock-in</h3>
          <p class="fs-sm">Run locally, deploy to Fluxzero Cloud, or self-host on your terms.</p>
        </div>
        <div class="col-lg-4 text-center pb-md-2 mb-3 mb-lg-4">
          <div class="d-inline-block bg-secondary rounded-circle p-3 mb-4">
            <img src="/assets/img/landing/saas-1/features/analytics.svg" width="32" alt="Icon">
          </div>
          <h3 class="h5 pb-1 mb-2">Not a black box</h3>
          <p class="fs-sm">Full visibility into every message, every state change, every interaction.</p>
        </div>
      </div>
    </section>

    <section class="container pb-5">
      <!-- Parallax gfx -->
      <div class="">
        <img src="/assets/fluxzero/dashboard-eb.png" width="1079" class="d-block mx-auto" style="border-radius: 1.5rem; box-shadow: 0 1.875rem 7.5rem -.625rem rgba(124,125,152, .2);" alt="Dashboard">
      </div>
    </section>

    <!-- How it works (Steps + Video) -->
    <section class="container pt-5">
      <div class="text-center pb-4 pb-md-0 mb-2 mb-md-5 mx-auto">
        <h2 class="h1">From Idea to Production in Record Time</h2>
        <p class="mb-0">Zero setup. Zero friction. Just code — and scale.</p>
      </div>

      <!-- Steps -->
      <div class="steps steps-sm steps-horizontal-md steps-center pb-5 mb-md-2 mb-lg-3">
        <div class="step">
          <div class="step-number">
            <div class="step-number-inner">1</div>
          </div>
          <div class="step-body">
            <h3 class="h4 mb-3">Develop Your Feature</h3>
            <p class="mb-0">Write clean business logic. No boilerplate. No plumbing.</p>
          </div>
        </div>
        <div class="step">
          <div class="step-number">
            <div class="step-number-inner">2</div>
          </div>
          <div class="step-body">
            <h3 class="h4 mb-3">Test Automatically</h3>
            <p class="mb-0">Cover your entire business flows with simple given‑when‑then tests.</p>
          </div>
        </div>
        <div class="step">
          <div class="step-number">
            <div class="step-number-inner">3</div>
          </div>
          <div class="step-body">
            <h3 class="h4 mb-3">Deploy Instantly</h3>
            <p class="mb-0">Ship to Fluxzero Cloud with a single command.</p>
          </div>
        </div>
        <div class="step">
          <div class="step-number">
            <div class="step-number-inner">∞</div>
          </div>
          <div class="step-body">
            <h3 class="h4 mb-3">Keep Moving</h3>
            <p class="mb-0">Add new features without rewrites, migrations, or slowdown.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="pt-2 pt-sm-0 pb-lg-4" style="margin-top: 100px">
      <div class="container pb-2">
        <h2 class="h1 text-center">Shipped with Fluxzero</h2>
        <p class="fs-lg text-center pb-4 pb-lg-5 mb-2 mb-sm-3 mb-xl-4">From mobility to logistics to energy, teams build and scale faster with Fluxzero.</p>
        <div class="masonry-grid row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 g-sm-3 g-md-4">

          <!-- Item -->
          <div class="masonry-grid-item col-lg col-md-6 col-sm-12">
            <div class="card border-0 bg-secondary p-1 p-sm-0 p-md-2">
              <img src="/assets/fluxzero/moxi.svg" class="d-block d-dark-mode-none mx-auto py-4" width="120" alt="Moxi">
              <img src="/assets/fluxzero/moxi-dark.svg" class="d-none d-dark-mode-block mx-auto py-4" width="120" alt="Moxi">
              <div class="card-body text-center pt-1">
                <p class="pb-3 mb-3">Fluxzero allows us to build exactly what we want without limits. We've gone from slow and constrained to delivering features at incredible speed. It's been a complete game-changer.</p>
                <img src="/assets/fluxzero/felix.jpg" class="d-inline-block rounded-circle" width="80" alt="Avatar">
                <div class="pt-2 mt-1">
                  <h3 class="fs-lg mb-1">Felix Dohmeier</h3>
                  <p class="fs-sm text-muted mb-0">Founder and CEO at MOXI</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="masonry-grid-item col-lg col-md-6 col-sm-12">
            <div class="card border-0 bg-secondary p-1 p-sm-0 p-md-2">
              <img src="/assets/fluxzero/portbase.svg" class="d-block d-dark-mode-none mx-auto py-4" width="160" alt="Moxi">
              <img src="/assets/fluxzero/portbase-dark.svg" class="d-none d-dark-mode-block mx-auto py-4" width="160" alt="Moxi">
              <div class="card-body text-center pt-1">
                <p class="pb-3 mb-3">With Fluxzero, we no longer need to worry about the technology and all its related complications. Instead, we can concentrate on what is truly important — providing value to our customers.</p>
                <div class="pt-2 mt-1">
                  <h3 class="fs-lg mb-1">Iwan van der Wolf</h3>
                  <p class="fs-sm text-muted mb-0">CEO at Portbase</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="masonry-grid-item col-lg col-md-6 col-sm-12">
            <div class="card border-0 bg-secondary p-1 p-sm-0 p-md-2">
              <img src="/assets/fluxzero/flowmaps.svg" class="d-block d-dark-mode-none mx-auto py-4" width="160" alt="Flowmaps">
              <img src="/assets/fluxzero/flowmaps-dark.svg" class="d-none d-dark-mode-block mx-auto py-4" width="160" alt="Flowmaps">
              <div class="card-body text-center pt-1">
                <p class="pb-3 mb-3">The energy market is changing rapidly, and my customers require numerous new functionalities. However, previously, we had to wait months before we could deliver. Using Fluxzero, we build new functionalities within days!</p>
                <img src="/assets/fluxzero/art.jpg" class="d-inline-block rounded-circle" width="80" alt="Avatar">
                <div class="pt-2 mt-1">
                  <h3 class="fs-lg mb-1">Art van Eeden Petersman</h3>
                  <p class="fs-sm text-muted mb-0">Commercial Director at Flowmaps</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- CTA -->
    <section class="container mt-4">
      <div class="bg-dark bg-size-cover bg-position-center bg-repeat-0 position-relative overflow-hidden rounded-3 py-lg-3 py-xl-5 px-4 px-lg-5 px-xl-0" style="background-image: url(assets/img/landing/saas-3/cta-bg.jpg);" data-bs-theme="dark">
        <div class="row position-relative zindex-2 py-5 my-1 my-md-3">
          <div class="col-md-6">
            <div class="mx-auto" style="max-width: 440px;">
              <h2 class="h1 pb-1 pb-md-3 pb-lg-4">Your backend in minutes, not months.</h2>
              <ul class="list-unstyled fs-lg d-md-none pb-3">
                <li class="d-flex text-body mb-2">
                  <i class="bx bx-check lead text-primary me-2" style="margin-top: .125rem;"></i>
                  Stop fighting frameworks — focus on your logic
                </li>
                <li class="d-flex text-body mb-2">
                  <i class="bx bx-check lead text-primary me-2" style="margin-top: .125rem;"></i>
                  95% less code, 10M+ requests/sec
                </li>
                <li class="d-flex text-body">
                  <i class="bx bx-check lead text-primary me-2" style="margin-top: .125rem;"></i>
                  Enterprise-ready from day one
                </li>
              </ul>

              <!--CTA-->
              <div class="d-grid gap-3 d-md-flex">
                <a href="/docs/getting-started/hello-world" class="btn btn-lg btn-primary shadow-primary">Try locally in 2 mins</a>
                <a href="/docs/tutorials/first-app" class="btn btn-lg btn-outline-secondary">Build your first app</a>
              </div>

            </div>
          </div>
          <div class="col-md-6 pt-lg-3 pt-xl-4">
            <ul class="list-unstyled fs-lg d-none d-md-block">
              <li class="d-flex text-body mb-2">
                <i class="bx bx-check lead text-primary me-2" style="margin-top: .125rem;"></i>
                Stop fighting frameworks — focus on your logic
              </li>
              <li class="d-flex text-body mb-2">
                <i class="bx bx-check lead text-primary me-2" style="margin-top: .125rem;"></i>
                95% less code, 10M+ requests/sec
              </li>
              <li class="d-flex text-body">
                <i class="bx bx-check lead text-primary me-2" style="margin-top: .125rem;"></i>
                Enterprise-ready from day one
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

  </main>

  <Footer />

  <script>
    import { Swiper } from 'swiper';
    import 'swiper/css';
    import 'swiper/css/pagination';

    // Initialize Swiper
    document.addEventListener('DOMContentLoaded', function() {
      const swiperEl = document.querySelector('.swiper');
      if (swiperEl) {
        const swiperOptions = JSON.parse(swiperEl.getAttribute('data-swiper-options') || '{}');
        new Swiper(swiperEl, swiperOptions);
      }
    });
  </script>

</BaseLayout>
