<hr />
<p>© Copyright 2025 Flux-Capacitor B.V. - <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Content licensed under [CC BY-NC-SA 4.0]</a>.</p>
<style>
    p {
        font-size: 0.6em;
        text-align: center;
        color: var(--color-text-secondary);
    }
</style>
